/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.container {
    display: flex;
    width: 320px; /* Adjusted the width */
    padding: 30px 0; /* Adjusted the padding */
    border-radius: 8px;
    background: #fff;
    row-gap: 20px; /* Adjusted the gap */
    flex-direction: column;
    align-items: center;
}

.circular-progress {
    position: relative;
    height: 150px; /* Smaller height */
    width: 150px;  /* Smaller width */
    border-radius: 50%;
    background: conic-gradient(#9F7AEA 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 130px; /* Smaller height */
    width: 130px;  /* Smaller width */
    border-radius: 50%;
    background-color: #fff;
}

.progress-value {
    position: relative;
    font-size: 25px; /* Smaller font size */
    font-weight: 600;
    color: #9F7AEA;
}

.text {
    font-size: 20px; /* Smaller font size */
    font-weight: 500;
    color: #606060;
}
